Source: libbde
Section: unknown
Priority: extra
Maintainer: Joachim Metz <jbmetz@google.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: libbde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libbde-doc
Architecture: all
Description: documentation for libbde
 <insert long description, indented with spaces>
